.auth-page {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-page .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7)
    );
}

.auth-card {
    position: relative;
    background: #ffffff;
    padding: 4rem;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    z-index: 1;
}

.login-bg {
    background-image: url("https://images.unsplash.com/photo-1541807360746-039080941306?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHJvYWR8ZW58MHx8MHx8fDA%3D");
}
.register-bg {
    background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e");
}
