.register-card {
  max-width: 1500px;   /* was 900px */
  min-height: 800px;
  background: #1f252a;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}

.register-image {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1504851149312-7a075b496cc7?w=900&auto=format&fit=crop&q=60");
  background-size: cover;
  background-position: center;
}

/* Form styling */
.register-form {
  padding: 3rem;
  background: rgba(0,0,0,0.25);
  border-left: 1px solid rgba(255,255,255,0.08);
  height:85%
}

/* Inputs */
.register-form .form-control {
  background: #111;
  border: 1px solid #333;
  color: #fff;
}

.register-form .form-control:focus {
  background: #111;
  color: #fff;
  border-color: #28a745;
  box-shadow: none;
}
